@use '../scss/variables' as *;

.footer {
  height: 60px;
  display: grid;
  place-items: center;
  p {
    color: $borderColor;
    font-family: $mainfont;
    text-transform: capitalize;
    cursor: default;
  }
}
